body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-image: url(dis.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    font-weight: 400;
    line-height: 1.4;
    color: aliceblue;
    margin: 0%;
}
title{
    text-align: center;
}
h1,h5{
    text-align: center;
}
p {
    text-align: left;
}

label{
    display: block;
    margin:  1.5rem 0;
    text-align: center;
}
labe{
    display: block;
    margin: 1.5rem auto;
    text-align: center;
}
input[type="checkbox"],
input[type="radio"] {
    text-align: center;
    vertical-align: middle;
}
lab{
    display: block;
    margin: 0.5rem 0;
    min-width: 200px;
    text-align: left;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.5rem;
    background-color: violet;
    border-color: rgba(175, 245, 13, 0.671);
    min-width: 200px;
  }
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  form {
    text-align: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background: rgba(53, 80, 139, 0.3);
  }

  .inline-label {
    display: block;
    text-align: left;
    margin: 0.5rem 0;
}


